# env
hermes_ddmd/
hermes_slabs/

# other scripts
vol-log-passthrough/
diagrams/  

# saved logs
1job_log/  
2job_log/  
HermesBufferProblem/  
old_log/  
save_log/
save_job_log/
old_save_jog_log/

*.err
*.log

# output files
molecular_dynamics_runs/  
molecular_dynamics_runs/
aggregate.h5

