# env
hermes_ddmd/
hermes_slabs/
ddmd_env/
.vscode/
venv_ddmd/

# other repos
vol-log-passthrough/
vol-provenance/

# directories not needed
1000genome/
bluesky_ddmd_scripts/
deception_ddmd_scripts/
sankey_diagram/
analysis_scripts/
save_outputs/
vol-provenance/
vfd/

# saved logs
1job_log/  
2job_log/  
HermesBufferProblem/  
old_log/
diagrams/  
save_log/
save_job_log/
old_save_jog_log/
curr_outputs/

*.err
*.log
*.out
!prov-sim.log
!prov-agg.log

# runtime/test output
iortest/
molecular_dynamics_runs/  
molecular_dynamics_runs/
aggregate.h5
hermes_swap/
device*_slab*.hermes
swap*.hermes
*.so
*.csv
*.log
*.txt
core.*
hermes.yaml

# large files
*.gz
*.vcf
*chr1n-*